{% extends 'web/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3>Security Bulletin and Metrics<br><br>
			<small class="text-muted">Function</small>
		</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form method="GET" action= >
			<div class="form-group">
				<input type="text" name="reference" class="form-control" id="ref_string" placeholder="">
				<button type="submit" class="btn btn-primary">Submit</button>


			</div>
		</form>


	</div>
</div>
{% endblock %}
